/* IMPACT AVT Debate Map pallete*/
.impact-avt .q0-20 {fill: rgb(80, 136, 0)}
.impact-avt .q5-20 {fill: rgb(117, 176, 22)}
.impact-avt .q10-20 {fill: rgb(163, 208, 91)}
.impact-avt .q15-20 {fill: rgb(196, 226, 160)}

.impact-avt .q1-20 {fill: rgb(19, 90, 158)}
.impact-avt .q6-20 {fill: rgb(61, 135, 206)}
.impact-avt .q11-20 {fill: rgb(132, 185, 236)}
.impact-avt .q16-20 {fill: rgb(204, 222, 238)}

.impact-avt .q2-20 {fill: rgb(82, 52, 169)}
.impact-avt .q7-20 {fill: rgb(135, 102, 229)}
.impact-avt .q12-20 {fill: rgb(182, 155, 251)}
.impact-avt .q17-20 {fill: rgb(215, 204, 238)}

.impact-avt .q3-20 {fill: rgb(130, 26, 90)}
.impact-avt .q8-20 {fill: rgb(194, 91, 161)}
.impact-avt .q13-20 {fill: rgb(217, 154, 197)}
.impact-avt .q18-20 {fill: rgb(228, 197, 218)}

.impact-avt .q4-20 {fill: rgb(165, 97, 0)}
.impact-avt .q9-20 {fill: rgb(197, 129, 32)}
.impact-avt .q14-20 {fill: rgb(223, 176, 109)}
.impact-avt .q19-20 {fill: rgb(232, 203, 161)}

span.download-link {
    font: normal 11px sans-serif;
}

span.download-link a {
    color: blue;
    text-decoration: underline;
}